[Desktop Entry]
Comment[en_US]=
Comment=
Exec=firefox -new-window http://www.netrunner.com/readme-rolling &
GenericName[en_US]=
GenericName=
Icon=help-about
MimeType=
Name[en_US]=Readme
Name=Readme
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
